In [1]:
import os
import json
import copy
import numpy as np
import pandas as pd
from utils import *
from sklearn.model_selection import train_test_split
from IPython.display import display, HTML

datasets = ['Korea_grip', 'Dutch_drinking_inh', 'Dutch_drinking_wm', 'Dutch_drinking_sha', 
            'Brazil_health_heart', 'Brazil_health_stroke', 'China_glucose_women2', 'China_glucose_men2', 
            'Spain_Hair', 'China_HIV']

sizes = {
    'Dutch_drinking_inh' : 12121,
    'Dutch_drinking_wm' : 12131,
    'Dutch_drinking_sha' : 12098,
    'Brazil_health_heart' : 7728,
    'Brazil_health_stroke' : 9675,
    'Korea_grip' : 1022,
    'China_glucose_women2' : 4568,
    'China_glucose_men2' : 4360,
    'Spain_Hair' : 529,
    'China_HIV' : 2410
}

results_dict = {
    'beta' : {},
    'diff' : {},
    'R'    : {},
    'mse'  : {},
    'vol'  : {},
    'inc'  : {}
}

val_data = {}
test_data = {}

for dataset in datasets:
    val_data[dataset]  = copy.deepcopy(results_dict)
    test_data[dataset] = copy.deepcopy(results_dict)

In [2]:
dir = '../data/regr/results/diff_core'
for filename in os.listdir(dir):
    if filename[-5:] != '.json':
        continue

    expt = filename[:-5]
    attributes = expt.split(',')

    dataset = attributes[0]
    n_core = attributes[1]
    alpha = attributes[2]
    speed_type = attributes[3]
    refit = attributes[4]
    val_or_test = attributes[5]
    # print(val_or_test)
    assert val_or_test in ['val', 'test']

    expt = expt[:-len(val_or_test)]
    with open(dir + '/' + filename) as file:
        data = json.load(file)
        if val_or_test == 'val':
            # print(expt, dataset)
            val_data[dataset]['beta'][expt] = data['beta']
            val_data[dataset]['diff'][expt] = data['diff']
            val_data[dataset]['R'][expt]    = data['R']
            val_data[dataset]['mse'][expt]  = data['mse']
            val_data[dataset]['vol'][expt]  = data['vol']
            val_data[dataset]['inc'][expt]  = data['inc']
            # print(dataset, val_data[dataset]['inc'].keys())

        else:
            # print(expt, dataset)
            test_data[dataset]['beta'][expt] = data['beta']
            test_data[dataset]['diff'][expt] = data['diff']
            test_data[dataset]['R'][expt]    = data['R']
            test_data[dataset]['mse'][expt]  = data['mse']
            test_data[dataset]['vol'][expt]  = data['vol']
            test_data[dataset]['inc'][expt]  = data['inc']

In [3]:
best_mse = {}
best_diff = {}
best_low_mse_diff = {}
best_lrmse = {}
best_lrdiff = {}

for dataset in datasets:
    print(dataset)
    best_mse[dataset]  = min(val_data[dataset]['mse'],     key = val_data[dataset]['mse'].get)
    best_diff[dataset] = max(val_data[dataset]['diff'],    key = val_data[dataset]['diff'].get)

    # Compute baseline validation MSE
    X, Y, names_covariates = load_regr_data(dataset)
    n, d = X.shape
    X = np.concatenate([X, np.ones((len(X), 1))], axis = 1) # Add bias
    Y = StandardScaler().fit_transform(Y.reshape(-1, 1)).reshape(-1)
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=101)
    _, X_val, _, Y_val = train_test_split(X_test, Y_test, test_size=0.4, random_state=101)
    base_beta, _, _ = core_fit(X_train, Y_train)
    base_mse = np.mean((X_val @ base_beta - Y_val) ** 2)
    
    val_size = int(sizes[dataset] * 0.5 * 0.4)
    low_mse = []
    includes_geq_5percent = []

    for expt in val_data[dataset]['mse']:
        if val_data[dataset]['mse'][expt] <= 2 * base_mse:
            low_mse.append(expt)
        if val_data[dataset]['inc'][expt] >= 0.05 * val_size:
            includes_geq_5percent.append(expt)

    low_mse_models = {expt: val_data[dataset]['diff'][expt] for expt in low_mse}
    best_low_mse_diff[dataset] = min(low_mse_models, key = low_mse_models.get)

    large_regions_mse = {expt: val_data[dataset]['mse'][expt] for expt in includes_geq_5percent}
    large_regions_diff = {expt: val_data[dataset]['diff'][expt] for expt in includes_geq_5percent}
    best_lrmse[dataset] = min(large_regions_mse, key = large_regions_mse.get)
    best_lrdiff[dataset] = max(large_regions_diff, key = large_regions_diff.get)

Korea_grip
Dutch_drinking_inh
Dutch_drinking_wm
Dutch_drinking_sha
Brazil_health_heart
Brazil_health_stroke
China_glucose_women2
China_glucose_men2
Spain_Hair
China_HIV

# MSE/Inclusion results

In [4]:
# summary = pd.DataFrame()
summary_data = []

for dataset in datasets:
    X, Y, names_covariates = load_regr_data(dataset)
    n, d = X.shape
    X = np.concatenate([X, np.ones((len(X), 1))], axis = 1) # Add bias

    Y = StandardScaler().fit_transform(Y.reshape(-1, 1)).reshape(-1)
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=101)
    X_test, X_val, Y_test, Y_val = train_test_split(X_test, Y_test, test_size=0.4, random_state=101)

    base_beta, _, _ = core_fit(X_train, Y_train)
    
    base_mse = np.mean((X_test @ base_beta - Y_test) ** 2)
    base_inc = len(X_test)

    mse = best_mse[dataset]
    diff = best_diff[dataset]
    lmdiff = best_low_mse_diff[dataset] # This one doesn't work well
    lrmse = best_lrmse[dataset]
    lrdiff = best_lrdiff[dataset]

    inc_summary = np.array([base_inc, test_data[dataset]["inc"][lrmse], test_data[dataset]["inc"][lrdiff]]) / base_inc
    mse_summary = np.array([base_mse, test_data[dataset]["mse"][lrmse], test_data[dataset]["mse"][lrdiff]])
    inc_summary = np.around(inc_summary, 2)
    mse_summary = np.around(mse_summary, 2)
    data = [f'{mse_summary[i]} ({inc_summary[i]})' for i in range(3)]
    # summary = pd.concat(summary, np.concatenate(inc_summary, mse_summary).around(3), axis = 0)
    # data =  np.around(np.concatenate([inc_summary, mse_summary]), 3)
    summary_data.append(data)
    # print('-----------------------------------')
    # print(f'Results for {dataset}: (num incl, mse)')
    # print('-----------------------------------')
    # print(f'Base: {base_inc}, {round(base_mse, 3)}')
    # print(f'Min. MSE: {test_data[dataset]["inc"][mse]}, {round(test_data[dataset]["mse"][mse], 3)}')
    # print(f'Max. diff.: {test_data[dataset]["inc"][diff]}, {round(test_data[dataset]["mse"][diff], 3)}')
    # print(f'Max. diff. (low MSE): {test_data[dataset]["inc"][lmdiff]}, {round(test_data[dataset]["mse"][lmdiff], 3)}')
    # print('-----------------------------------')
# summary = pd.DataFrame(data = summary_data, \
#     index = datasets, \
#     columns=['Base TI', 'MSE TI', 'Diff. TI', 'LMDiff. TI', 'Base MSE', 'MSE MSE', 'Diff. MSE', 'LMDiff. MSE'])
summary = pd.DataFrame(data = summary_data, index = datasets, columns = ['Base', 'LRMSE', 'LRDiff.'])
# print(summary.to_latex())
display(HTML(summary.to_html()))

# Coefficient/Region results

In [5]:
import statsmodels.api as sm

results = {}

for dataset in datasets:
    results[dataset] = {}

    mse = best_mse[dataset]
    diff = best_diff[dataset]
    lmdiff = best_low_mse_diff[dataset]
    lrmse = best_lrmse[dataset]
    lrdiff = best_lrdiff[dataset]

    X, Y, names_covariates = load_regr_data(dataset)
    B = np.column_stack([np.min(X, axis = 0) - 0.1, np.max(X, axis = 0) + 0.1])

    names_covariates = list(names_covariates)
    names_covariates.insert(0, 'Bias')
    X = sm.add_constant(X)
    Y = StandardScaler().fit_transform(Y.reshape(-1, 1)).reshape(-1)
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=101)
    X_test, X_val, Y_test, Y_val = train_test_split(X_test, Y_test, test_size=0.4, random_state=101)

    base_R   = B
    mse_R    = np.array(val_data[dataset]['R'][mse])
    diff_R   = np.array(val_data[dataset]['R'][diff])
    lmdiff_R = np.array(val_data[dataset]['R'][lmdiff])
    lrmse_R    = np.array(val_data[dataset]['R'][lrmse])
    lrdiff_R   = np.array(val_data[dataset]['R'][lrdiff])

    mse_ind    = in_box(X_train[:, 1:], mse_R)
    diff_ind   = in_box(X_train[:, 1:], diff_R)
    lmdiff_ind = in_box(X_train[:, 1:], lmdiff_R)
    lrmse_ind  = in_box(X_train[:, 1:], lrmse_R)
    lrdiff_ind = in_box(X_train[:, 1:], lrdiff_R)
    
    base_reg = sm.OLS(Y_train, X_train).fit()

    # X_mse = X_train[mse_ind]
    # Y_mse = Y_train[mse_ind]
    # mse_reg = sm.OLS(Y_mse, X_mse).fit()

    # X_diff = X_train[diff_ind]
    # Y_diff = Y_train[diff_ind]
    # diff_reg = sm.OLS(Y_diff, X_diff).fit()

    # X_lmdiff = X_train[lmdiff_ind]
    # Y_lmdiff = Y_train[lmdiff_ind]
    # lmdiff_reg = sm.OLS(Y_lmdiff, X_lmdiff).fit()

    X_lrmse = X_train[lrmse_ind]
    Y_lrmse = Y_train[lrmse_ind]
    lrmse_reg = sm.OLS(Y_lrmse, X_lrmse).fit()

    X_lrdiff = X_train[lrdiff_ind]
    Y_lrdiff = Y_train[lrdiff_ind]
    lrdiff_reg = sm.OLS(Y_lrdiff, X_lrdiff).fit()

    # results[dataset]['coeffs'] = pd.DataFrame()
    coeffs = pd.DataFrame()
    region = pd.DataFrame()
    prec = 2
    for i, var in enumerate(names_covariates):
        coeffs[var] = [f'{round(base_reg.params[i], prec)}  ({round(base_reg.pvalues[i], prec)})', 
                       f'{round(lrmse_reg.params[i], prec)}  ({round(lrmse_reg.pvalues[i], prec)})',
                       f'{round(lrdiff_reg.params[i], prec)}  ({round(lrdiff_reg.pvalues[i], prec)})']
        if i > 0:
            region[var] = [(round(base_R[i - 1, 0], 3), round(base_R[i - 1, 1], 3)),
                           (round(lrmse_R[i - 1, 0], 3), round(lrmse_R[i - 1, 1], 3)),
                           (round(lrdiff_R[i - 1, 0], 3), round(lrdiff_R[i - 1, 1], 3))]

    coeffs.index = ['Base', 'LRMSE', 'LRDiff.']
    region.index = ['Base', 'LRMSE', 'LRDiff.']
    results[dataset]['coeffs'] = coeffs
    results[dataset]['R'] = region

    # print('----------------------------------------------------')
    # print(f'Data: {dataset}')
    # print('----------------------------------------------------')
    # print('Coeffs (weight, pval):')
    # print(coeffs)
    # print('----------------------------------------------------')
    # print('Region:')
    # print(region)
    # print('----------------------------------------------------')
    print('----------------------------------------------------')
    print(f'Data: {dataset}')
    print('----------------------------------------------------')
    # print(coeffs.T.to_latex())
    # print(region.T.to_latex())
    display(HTML(coeffs.T.to_html()))
    display(HTML(region.T.to_html()))
    print('----------------------------------------------------')

----------------------------------------------------
Data: Korea_grip
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: Dutch_drinking_inh
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: Dutch_drinking_wm
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: Dutch_drinking_sha
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: Brazil_health_heart
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: Brazil_health_stroke
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: China_glucose_women2
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: China_glucose_men2
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: Spain_Hair
----------------------------------------------------

----------------------------------------------------
----------------------------------------------------
Data: China_HIV
----------------------------------------------------

----------------------------------------------------